html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    margin: 25vh 0;
}

.intro > h1 {
    color: #212121;
    font-size: 12vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--accent) !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
}

.item-cat {
    background-color: #757575;
    margin:1px;
}

.item-tag {
    background-color: var(--accent);
    margin:1px;
}

.terms {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/
.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    background-color: #f8f8f8;
    border-top: #e7e7e7 solid;
    border-top-width: 1px;
    color:"white";
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

/** Intvert colors
 * Wonderful CSS filter trick by Leo Nikkilä
 * @link https://lnikki.la/articles/night-mode-css-filter/
 */
.content-box.-nightmode {
    /* Ensures that night mode colors are black and white */
    background: #000 !important;
    color: #333 !important;    
}

.content-box.-nightmode {
  & {
    // Ensures that night mode colors are black and white
    background: #000 !important;
    color: #333 !important;    
  }  
  .content-inner {
    &, img, video {
      -webkit-filter: invert(1) hue-rotate(180deg);
      filter: invert(1) hue-rotate(180deg);    
    }    
  }
}

/* slider attributes match navbar elements */
.night-mode-toggle {
    padding:5px;
    display: inline-block !important;
    /* http://www.bootstraptoggle.com/ Custom Style .ios */
    border-radius: 20px;
    border-radius: 20px;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }