{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div>
          <img class="img-responsive" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}" alt="Whoopsies, this is my bad side!" style = "height:192px;width:165px;margin: 0 auto;">
        </div>
        
        <h3>My name is Nathan Day and this site is a collection of the data things I do for fun.</h3>
        <div style = "width: 66%; margin: 0 auto;">
            <h5>By day I work to discover new drugs for rare diseases at a biotech startup.</h5>
            <h5>By night I explore civic data and attend local R meetups.</h5>
            <h5>Currently proud to be a project fellow for <a href="https://www.youtube.com/watch?v=9i0brMoPSm0">SmartCville's Regional Transit Integration Challege!</a> Get involved on <a href="https://github.com/Smart-Cville/CID-2018-Regional-Transit-Challenge">the GitHub repo here.</a></h5>
        </div>
    </div>

</main>

{{ partial "footer" . }}
