{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div>
          <img class="img-responsive" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}" alt="Whoopsies, this is my bad side!" style = "height:192px;width:165px;margin: 0 auto;">
        </div>
        
        <h2>Hi my name is {{ .Site.Params.author }}.</h2>
        <h3>And I do a lot of different data things.</h3>
        <div style = "width: 66%; margin: 0 auto;">
            <h4>By day I'm part off a drug discovery team.</h4>
            <h4>By night I tinker with R code, go to local MeetUps, and help on forums.</h4>
            <h4>Excited to be a project fellow for <a href="https://www.smartcville.com/charlottesville-civic-innovation-day-2018/">Civic Innovation Day's:</a> <a href="https://www.youtube.com/watch?v=9i0brMoPSm0">Regional Transit Challenge!</a></h4>
        </div>
    </div>

</main>

{{ partial "footer" . }}
