{{ partial "header" . }}

<main class = "content-box">

    <div class="intro">

        <div>
          <img class="img-responsive" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}" alt="Whoopsies, this is my bad side!" style = "height:192px;width:165px;margin: 0 auto;">
        </div>
        
        <h3>My name is Nathan "Nate" Day and I do a lot of different things with data.</h3>
        <div style = "width: 66%; margin: 0 auto;">
            <h5>By day I work to discover new drugs for rare diseases at HemoShear Therapeutics.</h5>
            <h5>By night I explore my city's civic data and learn at local meetups and community events. </h5>
            <h5>Currently I'm volunteering, as a project fellow for <a href="https://www.youtube.com/watch?v=9i0brMoPSm0">SmartCville's Regional Transit Integration Challege!</a> Check out <a href="https://github.com/Smart-Cville/CID-2018-Regional-Transit-Challenge">the GitHub repo here.</a></h5>
        </div>
    </div>

</main>

{{ partial "footer" . }}
